.jumbotron {
	margin-bottom: 0;
}

.navbar {
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999999;
}

.AboutContainer {
	margin-left: 10%;
	margin-right: 10%;
	padding: 50px;
	border-style: double;
	background-color: white;
}

.EducationContainer {
	margin-top: 50px;
	margin-left: 10%;
	margin-right: 10%;
	padding: 50px;
	border-style: double;
	background-color: white;
}

.TechSkillsContainer {
	margin-top: 50px;
	margin-left: 10%;
	margin-right: 10%;
	padding: 50px;
	border-style: double;
	background-color: white;
}

.ProjectsContainer {
	margin-top: 50px;
	margin-left: 10%;
	margin-right: 10%;
	padding: 50px;
	border-style: double;
	background-color: white;
}

.WorkExpContainer {
	margin-top: 50px;
	margin-left: 10%;
	margin-right: 10%;
	padding: 50px;
	border-style: double;
	display: inline-block;
	word-wrap: break-word;
	background-color: white;
}

.IntAchieveContainer {
	margin-top: 50px;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 50px;
	padding: 50px;
	border-style: double;
	background-color: white;
}

.CVbtn {
  background-color: white;
  border: double;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  font-size: 16px;
  margin-left: 45%;
}

.youtubeCard {
	width: 400px;
	height: 650px;
	border: double;
	padding-bottom: 10px;
	text-align: center;
}

.bikeCard {
	width: 400px;
	height: 650px;
	border: double;
	padding-bottom: 10px;
	text-align: center;
}

.projectCard {
	width: 400px;
	height: 650px;
	border: double;
	padding-bottom: 10px;
	text-align: center;
}

.sportsCard {
	width: 400px;
	height: 500px;
	border: double;
	padding-bottom: 10px;
	text-align: center;
	margin: auto;
}

.sportsCard img {
	margin-top: 130px;
}

.educationCard {
	width: 400px;
	height: 500px;
	border: double;
	padding-bottom: 10px;
	text-align: center;
	margin: auto;
}

.educationCard img {
	margin-top: 180px;
}

.technologyCard {
	width: 400px;
	height: 500px;
	border: double;
	padding-bottom: 10px;
	text-align: center;
	margin: auto;
}

.technologyCard img {
	margin-top: 125px;
}

.modal {
	text-align: left;
}

.parallax {
  /* The image used */
  background-image: url("Images/space.jpg");

  /* Set a specific height */
  height: 3600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 600px){
	
	.WorkExpContainer {
		margin-left: 10%;
		width: 80%;

	}
	
	.youtubeCard {
		width: auto;
		height: auto;
		margin-bottom: 15px;
	}

	.youtubeCard img{
		width: 250px;
	}

	.bikeCard {
		width: auto;
		height: auto;
		margin-bottom: 15px;
	}

	.bikeCard img{
		width: 250px;
	}

	.projectCard {
		width: auto;
		height: auto;
	}

	.projectCard img{
		width: 100%;
	}

	.sportsCard {
		width: 300px;
		height: 400px;
		border: double;
		padding-bottom: 10px;
		text-align: center;
		margin-bottom: 15px;
	}

	.sportsCard img {
		margin-top: 130px;
	}

	.educationCard {
		width: 300px;
		height: 400px;
		border: double;
		padding-bottom: 10px;
		text-align: center;
		margin-bottom: 15px;
	}

	.educationCard img {
		margin-top: 180px;
	}

	.technologyCard {
		width: 300px;
		height: 350px;
		border: double;
		text-align: center;
	}

	.technologyCard img {
		margin-top: 125px;
	}

	.CVbtn {
		background-color: white;
		border: double;
		color: black;
		text-align: center;
		text-decoration: underline;
		display: inline-block;
		font-size: 16px;
		margin-left: 13%;
	}

	.jumbotron {
		margin-top: 50px;
	}

	.parallax {
		height: 7100px;
	}
}

@media screen and (max-width: 500px){
	.parallax {
		width: 100%;
		height: 7100px;
	}
}